.balance {
  font-size: 25px;
  ;
  color: black;
  font-weight: bold;

}

span {
  float: left;
  clear: left;
}

.deposit {
  padding-left: 10px;
  padding-top: 4px;
  border-left: 5px solid green;
  color: black;
  height: 50px;
  width: 200px;
  font-size: 15px;
}

.withdraw {
  padding-left: 10px;
  padding-top: 4px;
  border-left: 5px solid rgb(104, 9, 29);
  color: black;
  height: 50px;
  width: 200px;
  font-size: 15px;
}

.chart>canvas {
  width: 10px;
}

.transaction {
  border: 1px solid rgba(212, 212, 212, 0.534);
  padding: 15px 15px;
  border-radius: 5px;
}

.transaction .mdi-window-close {
  font-size: 15px;
  color: rgb(145, 145, 145);
  position: absolute;
  right: 0;
  padding-right: 20px;
  padding-top: 3px;
  top: 0;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .chart {
    margin: 10px 0;
  }
  .transaction {
    
    padding-right: 50px;
    
  }
}
